.main__right {
  width: 300px;
  margin-left: 40px;
  position: relative;
  .main__right-profile {
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    .main__right-user {
      margin-left: 10px;
      font-size: 16px;
    }
    .main__right-photo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .main__right-recommend {
    width: 300px;
    height: 230px;
    position: fixed;
    overflow-y: scroll;
    margin: 70px 0px 20px 0px;

    .main__right-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;

      .main__right-top-title {
        font-size: 14px;
        font-weight: 600;
        color: rgb(145, 145, 145);
      }

      .main__right-top-all {
        font-size: 12px;
      }
    }

    .recommend__column {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      .recommend__profile-column {
        display: flex;

        .recommend__user {
          margin-left: 10px;
          .recommend__status {
            font-size: 12px;
            color: rgb(160, 159, 159);
          }
        }
      }
      .recommend__follow {
        color: rgb(0, 149, 246);
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  .main__right-infoTxt {
    position: fixed;
    margin: 320px 0 0 0px;
    color: rgba(173, 173, 173, 0.8);
    line-height: 1.2em;
    font-size: 13px;
    p {
      color: rgba(173, 173, 173, 0.8);
    }
  }
}
