.loginContainer {

    display : flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .Wrapper {
        margin : 0 auto;
        border : 1.5px solid var(--grey-light-color);
        background-color : var(--white-color);
        width: 348px;
        height: 355px;
        display : flex;
        flex-direction: column;
        justify-content: space-between;
        padding : 40px;
        align-items: center;    
    
        .logo {
            display : flex;
            justify-content: center;
            margin-top : -15px;
    
            .img{
                width: 200px;
            }
        }

        .InfoBox {
            display : flex;
            flex-direction: column;
            width: 270px;
            margin : 20px auto;
            margin-bottom: 40px;
                
            .login {
                height:40px; 
                width: 100%;
                border-radius: 3px;
                border: 1px solid var(--grey-light-color);
                background-color: var(--grey-medium-color);
                justify-content: center;
                font-size: 12px;
                font-weight: bold;
                color : var(--grey-dark-color);
                }
    
            .contents {
                margin-bottom:10px;
                padding-top : 5px;
                padding-left: 10px;
                padding-bottom: 5px;
            }

            .btn {
                font-size: 15px;
                background-color: var(--white-blue-color);
                color : var(--white-color);
                margin-top: 8px;
                }
            
        }
        .forgetPwd {
            padding-top : 10px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            color : var(--blue-color);
        }
    }
}
