.story__container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #262626;
  z-index: 1;

  .story__content-container {
    width: 380px;
    margin: 0 auto;
  }

  .story__top {
    width: 380px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .story__profile {
      display: flex;
      justify-content: center;
      align-items: center;

      .story__profile-container {
        display: flex;
        align-items: center;

        .story__profile-photo {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .story__profile-user {
          color: white;
          font-size: 14px;

          .story__profile-user-name {
            margin: 0 10px;
            font-weight: bold;
          }

          .story__time-ago {
            color: rgba(255, 255, 255, 0.7);
            font-size: 12px;
          }
        }
      }
    }

    .story__icon {
      color: white;
      font-size: 20px;
    }
  }

  .story__bar {
    margin: 12px 0px;
    width: 380px;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
  }

  .story__bar-flow {
    position: fixed;
    top: 73px;
    margin: 12px 0px;
    width: 380px;
    border: 0.5px solid white;
    border-radius: 50px;
    animation: progress 3s ease-out;
  }

  @keyframes progress {
    0% {
      width: 0%;
    }
    100% {
      width: 380px;
    }
  }

  .story__content {
    .story__image {
      position: relative;
      width: 380px;
      height: 590px;
      background-size: cover;
      display: flex;
      align-items: flex-end;

      .story__input {
        width: 290px;
        height: 40px;
        position: absolute;
        left: 10px;
        bottom: 13px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 40px;
        text-indent: 10px;
      }

      .story__input::placeholder {
        color: rgba(255, 255, 255, 0.7);
        font-size: 13px;
      }

      .send__icon {
        width: 35px;
        height: 35px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        right: 10px;
        bottom: 14px;
        font-size: 20px;
      }
    }
  }
}
