.Login_JY {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(173, 173, 173, 0.1);

  .login__wrap {
    width: 350px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(173, 173, 173, 0.5);
    .login__logo {
      margin-bottom: 40px;
    }
    .login__input {
      display: flex;
      flex-direction: column;
      input {
        width: 250px;
        height: 35px;
        margin-bottom: 8px;
        border-radius: 2px;
        border: 1px solid rgba(206, 204, 204, 0.301);
        background-color: rgba(206, 204, 204, 0.1);
        text-indent: 10px;
        font-size: 12px;
      }
      .input__id {
        margin-bottom: 5px;
      }
      .login__btn {
        width: 250px;
        height: 35px;
        margin-top: 8px;
        background-color: rgba(0, 149, 246, 0.4);
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 14px;
        font-weight: 600;
      }
    }
    .login__forgetPw {
      margin-top: 55px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .login__forgetPw a {
      margin-top: 20px;
      font-size: 13px;
      color: rgb(61, 83, 135);
    }
  }
}

.login__activateBtn {
  width: 250px;
  height: 35px;
  margin-top: 8px;
  background-color: rgb(0, 149, 246);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.wrongPw {
  color: red;
  font-size: 13px;
  visibility: visible;
}
.correctPw {
  color: red;
  font-size: 13px;
  visibility: hidden;
}
