.Feeds_YJ {
  max-width: 614px;
  margin-right: 28px;
  .feeds {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    margin-bottom: 60px;
    header {
      display: flex;
      height: 60px;
      padding: 12px;
      align-items: center;
      .feed-profile-img {
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 32px;
          height: 32px;
          border-radius: 100px;
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
      .feeds-profile-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: 13px;
        .feeds-profile-id {
          color: #262626;
          font-size: 14px;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .dots-box {
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    img {
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
    }
    .feed-icon-box {
      display: flex;
      justify-content: space-between;
      .feed-icon-left {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        .icon-box {
          width: 36px;
          height: 36px;
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            cursor: pointer;
          }
          .fillheart {
            font-size: 24px;
            position: absolute;
            color: rgb(237, 73, 86);
            visibility: hidden;
            cursor: pointer;
          }
        }
        .heart {
          visibility: visible;
        }
      }
      .icon-box-right {
        width: 36px;
        height: 36px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          cursor: pointer;
        }
      }
    }
    .like-count {
      margin: 0 0 8px;
      margin-top: 5px;
      padding-left: 16px;
      p {
        font-size: 14px;
        font-weight: 600;
        color: #262626;
      }
    }
    .feed-article {
      padding-left: 16px;
      p {
        line-height: 18px;
      }
      .feed-article-id {
        font-size: 14px;
        font-weight: 700;
      }
      .feed-article-comment {
        font-size: 14px;
        font-weight: 400;
      }
      .feed-article-hashtag {
        font-size: 14px;
        font-weight: 400;
        color: #00376b;
      }
    }
  }
}
