.comments {
  width: 600px;
  padding: 10px 0 5px 5px;

  .comment {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;

    .comment-text {
      font-size: 14px;
      padding-left: 5px;
    }

    .comment-icon-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .dot {
        width: 15px;
        height: 15px;
        background: none;
        border: none;
        outline: 0;
        cursor: pointer;
        margin-right: 10px;

        img {
          width: 15px;
          height: 15px;
        }
      }

      .comment-heart {
        width: 17px;
        height: 12px;
        padding-right: 5px;
      }
    }
  }
}

.ago {
  padding: 0 10px 0 10px;
}

.border-bottom-line {
  border-bottom: 1px solid lightgrey;
}

.add-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 10px 0 10px;

  .add-btn {
    color: skyblue;
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;
    padding: 0;
  }

  .add-btn-changed {
    color: #0095f6;
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;
    padding: 0;
  }

  .add-input {
    border: none;
    width: 535px;

    &::placeholder {
      color: grey;
      font-size: 14px;
    }

    &:focus {
      outline: none;
    }
  }
}
