.Nav__container_JY {
  width: 100%;
  height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid rgba(173, 173, 173, 0.3);
  .nav__content {
    width: 935px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__logo-img {
      width: 102px;
      cursor: pointer;
    }

    .nav__logo-img:active {
      opacity: 0.7;
    }
    .nav__side-icons {
      width: 200px;
      display: flex;
      justify-content: space-between;
      .side-icon {
        width: 22px;
        height: 22px;
      }
    }
    .nav__search {
      width: 200px;
      position: relative;
      text-align: center;
      opacity: 0.8;

      .nav__search-icon {
        width: 12px;
        top: 7px;
        left: 70px;
        margin: 0;
        position: absolute;
        opacity: 0.6;
      }
      .nav__search-input {
        width: 216px;
        height: 27px;
        text-align: center;
        border: 1px solid rgba(173, 173, 173, 0.5);
        background-color: rgba(173, 173, 173, 0.1);
        border-radius: 3px;
      }
      .nav__search-input::placeholder {
        color: rgba(173, 173, 173, 0.7);
      }
    }
  }
}
