.Main_YJ {
  display: flex;
  align-items: flex-start;
  width: 935px;
  margin: 0 auto;
  .main-container {
    width: 614px;
    padding-top: 84px;
    display: flex;
    flex-direction: column;
  }
}
