.feeds {
  width: 601px;
  margin-bottom: 50px;

  article {
    border: 1px solid lightgrey;
    margin-bottom: 50px;

    .article__header {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .article__header__left {
        width: 22px;
        padding-left: 15px;
        display: flex;
        align-items: center;

        img {
          width: 32px;
          height: 32px;
          border-radius: 70%;
          margin-right: 15px;
        }
      }

      .article__header__right {
        padding-right: 15px;

        img {
          width: 30px;
        }
      }
    }

    .article-picture {
      width: 600px;

      img {
        width: 599px;
      }
    }

    .article__center {
      padding: 0 14px;

      .article__center-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;

        .article-icon {
          width: 26px;
          height: 26px;
          margin: 0 4px;
        }

        .article__center-icon__left {
          display: flex;

          .like-button {
            background: none;
            border: none;
            outline: 0;
            cursor: pointer;
            margin: 0 10px 0 -4px;
          }
        }
      }

      .like {
        display: flex;
        align-items: center;
        height: 17.6px;

        .like-picture {
          width: 22px;
          height: 22px;
          border-radius: 70%;
          margin: 0 6px 0 6px;
        }
      }

      .comments {
        padding: 10px 0 5px 5px;

        .comment {
          display: flex;
          justify-content: space-between;

          .comment-text {
            font-size: 14px;
            padding-left: 5px;
          }

          .comment-icon-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .dot {
              width: 15px;
              height: 15px;
              background: none;
              border: none;
              outline: 0;
              cursor: pointer;
              margin-right: 10px;

              img {
                width: 15px;
                height: 15px;
              }
            }

            .comment-heart {
              width: 17px;
              height: 12px;
              padding-right: 5px;
            }
          }
        }
      }
    }

    .border-bottom-line {
      border-bottom: 1px solid lightgrey;
    }

    .add-comment {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      padding: 0 18px;

      .add-btn {
        color: skyblue;
        background: none;
        border: none;
        outline: 0;
        cursor: pointer;
        padding: 0;
      }

      .add-input {
        border: none;
        width: 535px;

        &::placeholder {
          color: grey;
          font-size: 14px;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
